<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Internal Server Error!</h1>

<p th:text="${error}" />
<p th:text="${exception}" />

</body>
</html>